In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta, datetime

In [20]:
from debug import local_settings, timeifdebug, timeargsifdebug, frame_splain

In [2]:
df = pd.read_csv('activities.csv')

In [3]:
df.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,4/26/18,"2,635","2,931",1.38,2,"1,347",93,0,0,566
1,4/27/18,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752"
2,4/28/18,"3,379","3,521",1.66,2,702,155,22,11,"1,124"
3,4/29/18,"2,851","1,639",0.77,0,891,122,0,0,602
4,4/30/18,"2,825","1,323",0.62,0,880,104,0,0,540

In [6]:
df.Date.value_counts().sort_values(ascending=False)

6/11/18     1
8/4/18      1
5/27/18     1
5/22/18     1
11/3/18     1
10/5/18     1
11/7/18     1
7/12/18     1
11/16/18    1
8/23/18     1
11/23/18    1
7/14/18     1
8/28/18     1
10/31/18    1
7/28/18     1
9/26/18     1
9/20/18     1
11/30/18    1
10/8/18     1
8/19/18     1
8/17/18     1
10/19/18    1
9/2/18      1
7/31/18     1
9/9/18      1
5/20/18     1
6/18/18     1
6/24/18     1
8/31/18     1
5/3/18      1
           ..
10/6/18     1
12/4/18     1
6/10/18     1
8/25/18     1
5/11/18     1
10/11/18    1
5/6/18      1
9/24/18     1
9/6/18      1
8/13/18     1
10/16/18    1
6/19/18     1
12/2/18     1
11/18/18    1
6/7/18      1
11/19/18    1
7/29/18     1
5/4/18      1
7/6/18      1
11/21/18    1
8/27/18     1
10/30/18    1
10/24/18    1
9/1/18      1
11/14/18    1
7/22/18     1
10/9/18     1
6/3/18      1
10/15/18    1
9/8/18      1
Name: Date, Length: 225, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 10 columns):
Date                      225 non-null object
Calories Burned           225 non-null object
Steps                     225 non-null object
Distance                  225 non-null float64
Floors                    225 non-null int64
Minutes Sedentary         225 non-null object
Minutes Lightly Active    225 non-null int64
Minutes Fairly Active     225 non-null int64
Minutes Very Active       225 non-null int64
Activity Calories         225 non-null object
dtypes: float64(1), int64(4), object(5)
memory usage: 17.7+ KB

In [9]:
df.Date=pd.to_datetime(df.Date, format='%m/%d/%y')
df.head(15)

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2018-04-26,"2,635","2,931",1.38,2,"1,347",93,0,0,566
1,2018-04-27,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752"
2,2018-04-28,"3,379","3,521",1.66,2,702,155,22,11,"1,124"
3,2018-04-29,"2,851","1,639",0.77,0,891,122,0,0,602
4,2018-04-30,"2,825","1,323",0.62,0,880,104,0,0,540
5,2018-05-01,"3,292","2,581",1.22,0,919,167,13,2,"1,068"
6,2018-05-02,"2,660","1,372",0.65,0,927,90,0,0,419
7,2018-05-03,"3,121","2,232",1.05,0,876,157,16,0,"1,006"
8,2018-05-04,"2,522",904,0.43,1,"1,012",61,0,0,269
9,2018-05-05,"2,551",833,0.39,0,969,68,0,0,326
10,2018-05-06,"2,771","1,383",0.65,0,976,103,0,0,506
11,2018-05-07,"2,524",952,0.45,0,907,63,0,0,283
12,2018-05-08,"2,591","1,187",0.56,2,"1,221",53,17,2,410
13,2018-05-09,"2,153",21,0.01,0,"1,438",2,0,0,8
14,2018-05-10,"3,081","1,364",0.64,0,"1,295",136,5,4,924

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 10 columns):
Date                      225 non-null datetime64[ns]
Calories Burned           225 non-null object
Steps                     225 non-null object
Distance                  225 non-null float64
Floors                    225 non-null int64
Minutes Sedentary         225 non-null object
Minutes Lightly Active    225 non-null int64
Minutes Fairly Active     225 non-null int64
Minutes Very Active       225 non-null int64
Activity Calories         225 non-null object
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 17.7+ KB

In [10]:
dmax = df.Date.max()
dmin = df.Date.min()
print(dmin,dmax)

2018-04-26 00:00:00 2018-12-06 00:00:00

In [16]:
dmax - dmin + timedelta(days=1)

Timedelta('225 days 00:00:00')

In [18]:
df = df.set_index('Date')

In [25]:
df.dtypes

Calories Burned             int64
Steps                       int64
Distance                  float64
Floors                      int64
Minutes Sedentary           int64
Minutes Lightly Active      int64
Minutes Fairly Active       int64
Minutes Very Active         int64
Activity Calories           int64
dtype: object

In [22]:
df['Calories Burned'] = df['Calories Burned'].str.replace(',','').astype(int)
df['Steps'] = df['Steps'].str.replace(',','').astype(int)
df['Minutes Sedentary'] = df['Minutes Sedentary'].str.replace(',','').astype(int)
df['Activity Calories'] = df['Activity Calories'].str.replace(',','').astype(int)

In [26]:
df = df.rename(columns={
    'Calories Burned': 'cals_burned',
    'Steps': 'steps',
    'Distance': 'dist',
    'Floors': 'flrs',
    'Minutes Sedentary': 'mins_sed',
    'Minutes Lightly Active': 'mins_light',
    'Minutes Fairly Active': 'mins_mod',
    'Minutes Very Active': 'mins_heavy',
    'Activity Calories': 'activity_cals',
})

df.head()

,cals_burned,steps,dist,flrs,mins_sed,mins_light,mins_mod,mins_heavy,activity_cals
Date,,,,,,,,,
2018-04-26,2635,2931,1.38,2,1347,93,0,0,566
2018-04-27,3649,9971,4.70,19,1158,219,46,17,1752
2018-04-28,3379,3521,1.66,2,702,155,22,11,1124
2018-04-29,2851,1639,0.77,0,891,122,0,0,602
2018-04-30,2825,1323,0.62,0,880,104,0,0,540

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2018-04-26 to 2018-12-06
Data columns (total 9 columns):
cals_burned      225 non-null int64
steps            225 non-null int64
dist             225 non-null float64
flrs             225 non-null int64
mins_sed         225 non-null int64
mins_light       225 non-null int64
mins_mod         225 non-null int64
mins_heavy       225 non-null int64
activity_cals    225 non-null int64
dtypes: float64(1), int64(8)
memory usage: 17.6 KB

In [28]:
df['mins_tot'] = df.mins_sed + df.mins_light + df.mins_mod + df.mins_heavy

In [29]:
df.head()

,cals_burned,steps,dist,flrs,mins_sed,mins_light,mins_mod,mins_heavy,activity_cals,mins_tot
Date,,,,,,,,,,
2018-04-26,2635,2931,1.38,2,1347,93,0,0,566,1440
2018-04-27,3649,9971,4.70,19,1158,219,46,17,1752,1440
2018-04-28,3379,3521,1.66,2,702,155,22,11,1124,890
2018-04-29,2851,1639,0.77,0,891,122,0,0,602,1013
2018-04-30,2825,1323,0.62,0,880,104,0,0,540,984

In [30]:
df['mins_off'] = 1440 - df.mins_tot
df.head(15)

,cals_burned,steps,dist,flrs,mins_sed,mins_light,mins_mod,mins_heavy,activity_cals,mins_tot,mins_off
Date,,,,,,,,,,,
2018-04-26,2635,2931,1.38,2,1347,93,0,0,566,1440,0
2018-04-27,3649,9971,4.70,19,1158,219,46,17,1752,1440,0
2018-04-28,3379,3521,1.66,2,702,155,22,11,1124,890,550
2018-04-29,2851,1639,0.77,0,891,122,0,0,602,1013,427
2018-04-30,2825,1323,0.62,0,880,104,0,0,540,984,456
2018-05-01,3292,2581,1.22,0,919,167,13,2,1068,1101,339
2018-05-02,2660,1372,0.65,0,927,90,0,0,419,1017,423
2018-05-03,3121,2232,1.05,0,876,157,16,0,1006,1049,391
2018-05-04,2522,904,0.43,1,1012,61,0,0,269,1073,367
2018-05-05,2551,833,0.39,0,969,68,0,0,326,1037,403
2018-05-06,2771,1383,0.65,0,976,103,0,0,506,1079,361
2018-05-07,2524,952,0.45,0,907,63,0,0,283,970,470
2018-05-08,2591,1187,0.56,2,1221,53,17,2,410,1293,147
2018-05-09,2153,21,0.01,0,1438,2,0,0,8,1440,0
2018-05-10,3081,1364,0.64,0,1295,136,5,4,924,1440,0

In [31]:
import wrangle_fitbit as wf

In [32]:
wf.get_activities_data()

,date,cals_burned,steps,dist,flrs,mins_sed,mins_light,mins_mod,mins_heavy,activity_cals,mins_tot,mins_off
0,2018-04-26,2635,2931,1.38,2,1347,93,0,0,566,1440,0
1,2018-04-27,3649,9971,4.70,19,1158,219,46,17,1752,1440,0
2,2018-04-28,3379,3521,1.66,2,702,155,22,11,1124,890,550
3,2018-04-29,2851,1639,0.77,0,891,122,0,0,602,1013,427
4,2018-04-30,2825,1323,0.62,0,880,104,0,0,540,984,456
5,2018-05-01,3292,2581,1.22,0,919,167,13,2,1068,1101,339
6,2018-05-02,2660,1372,0.65,0,927,90,0,0,419,1017,423
7,2018-05-03,3121,2232,1.05,0,876,157,16,0,1006,1049,391
8,2018-05-04,2522,904,0.43,1,1012,61,0,0,269,1073,367
9,2018-05-05,2551,833,0.39,0,969,68,0,0,326,1037,403
10,2018-05-06,2771,1383,0.65,0,976,103,0,0,506,1079,361
11,2018-05-07,2524,952,0.45,0,907,63,0,0,283,970,470
12,2018-05-08,2591,1187,0.56,2,1221,53,17,2,410,1293,147
13,2018-05-09,2153,21,0.01,0,1438,2,0,0,8,1440,0
14,2018-05-10,3081,1364,0.64,0,1295,136,5,4,924,1440,0
15,2018-05-11,2950,2771,1.31,1,947,130,0,0,727,1077,363
16,2018-05-12,3318,4125,1.95,2,756,184,4,7,1113,951,489
17,2018-05-13,2572,1689,0.80,0,895,84,0,0,394,979,461
18,2018-05-14,2966,3710,1.75,0,959,119,19,0,794,1097,343
19,2018-05-15,3152,4313,2.03,0,767,183,9,0,1011,959,481
20,2018-05-16,3497,5882,2.77,1,825,234,5,6,1396,1070,370
21,2018-05-17,3066,4080,1.92,4,867,158,0,0,897,1025,415
22,2018-05-18,4376,13958,6.58,7,682,178,67,92,2549,1019,421
23,2018-05-19,4112,14917,7.04,7,646,193,34,89,2228,962,478
24,2018-05-20,3098,4986,2.35,3,795,174,5,6,978,980,460
25,2018-05-21,3009,3989,1.88,3,727,182,0,0,932,909,531
26,2018-05-22,3581,4680,2.21,1,625,209,33,2,1460,869,571
27,2018-05-23,3772,6889,3.25,0,921,241,42,14,1765,1218,222
28,2018-05-24,2756,3470,1.64,0,804,143,0,0,723,947,493
29,2018-05-25,3155,5389,2.54,1,821,145,32,13,1127,1011,429
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2018-11-07,3681,13664,6.46,9,566,172,4,82,1882,824,616
196,2018-11-08,4137,15542,7.33,26,716,238,15,86,2436,1055,385
197,2018-11-09,4445,16732,7.99,14,698,126,31,131,2671,986,454
198,2018-11-10,3863,13636,7.04,16,589,219,3,77,2115,888,552
199,2018-11-11,4264,17761,8.36,129,486,299,47,76,2717,908,532
200,2018-11-12,3444,10184,4.82,19,651,244,14,40,1705,949,491
201,2018-11-13,3202,10330,4.87,16,615,199,10,26,1376,850,590
202,2018-11-14,3081,7598,3.58,15,835,214,8,12,1250,1069,371
203,2018-11-15,3815,12360,5.90,10,644,203,7,69,2082,923,517
204,2018-11-16,3780,12286,5.73,13,576,281,31,42,2114,930,510
205,2018-11-17,4548,20395,10.06,31,464,347,54,90,3077,955,485
206,2018-11-18,4832,25512,12.00,23,450,269,53,154,3373,926,514
207,2018-11-19,3697,11993,5.56,17,502,255,34,43,2062,834,606
208,2018-11-20,3966,15527,7.27,13,810,196,11,96,2260,1113,327
209,2018-11-21,3738,11079,5.16,4,582,328,9,33,2101,952,488
210,2018-11-22,4494,16705,7.84,177,522,284,18,115,2868,939,501
211,2018-11-23,3325,9602,4.53,16,660,269,23,12,1619,964,476
212,2018-11-24,4098,17004,9.20,23,532,217,13,100,2428,862,578
213,2018-11-25,3005,6921,3.26,11,614,281,3,6,1306,904,536
214,2018-11-26,3364,10563,5.64,20,587,210,10,42,1605,849,591
215,2018-11-27,3726,13420,6.29,7,650,196,12,78,2027,936,504
216,2018-11-28,3088,7602,3.59,16,717,272,0,0,1361,989,451
217,2018-11-29,3693,12380,6.56,18,717,258,15,53,2051,1043,397
218,2018-11-30,3269,9559,4.51,14,699,288,12,6,1577,1005,435
219,2018-12-01,3813,14510,7.27,7,527,233,22,67,2124,849,591
220,2018-12-02,3957,13257,6.23,195,725,265,13,70,2305,1073,367
221,2018-12-03,3660,12915,6.12,6,782,219,40,51,1993,1092,348
222,2018-12-04,3384,13763,6.49,13,608,199,11,67,1663,885,555
223,2018-12-05,3670,13865,6.52,12,739,200,12,69,1968,1020,420
224,2018-12-06,3669,14774,6.96,9,647,198,4,78,1962,927,513