In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import wrangle_fitbit as wf

In [13]:
df = wf.get_activities_data()

In [3]:
df.head(2)

,cals_burned,steps,dist,flrs,mins_sed,mins_light,mins_mod,mins_heavy,activity_cals,mins_tot,mins_off
date,,,,,,,,,,,
2018-04-26,2635,2931,1.38,2,1347,93,0,0,566,1440,0
2018-04-27,3649,9971,4.70,19,1158,219,46,17,1752,1440,0

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
cals_burned,225.0,3401.911111,632.426578,799.0,3069.00,3385.00,3765.0,5199.0
steps,225.0,8536.186667,5255.746608,0.0,4714.00,7806.00,12380.0,25512.0
dist,225.0,4.046800,2.506253,0.0,2.22,3.68,5.9,12.0
flrs,225.0,12.591111,25.844174,0.0,2.00,7.00,13.0,195.0
mins_sed,225.0,809.520000,243.232639,28.0,654.00,750.00,877.0,1440.0
mins_light,225.0,188.235556,75.170001,0.0,158.00,203.00,236.0,349.0
mins_mod,225.0,14.920000,15.363535,0.0,3.00,11.00,21.0,78.0
mins_heavy,225.0,33.871111,37.195986,0.0,2.00,15.00,63.0,154.0
activity_cals,225.0,1484.546667,747.795790,0.0,1062.00,1481.00,1962.0,3596.0
mins_tot,225.0,1046.546667,187.948200,41.0,940.00,996.00,1076.0,1440.0
mins_off,225.0,393.453333,187.948200,0.0,364.00,444.00,500.0,1399.0

In [18]:
df.resample('W').mean()

,cals_burned,steps,dist,flrs,mins_sed,mins_light,mins_mod,mins_heavy,activity_cals,mins_tot,mins_off
date,,,,,,,,,,,
2018-06-06,2145,0,0.0,0,1440,0,0,0,0,1440,0
2018-06-07,2146,0,0.0,0,1440,0,0,0,0,1440,0
2018-06-11,2146,0,0.0,0,1440,0,0,0,0,1440,0
2018-06-26,2144,0,0.0,0,1440,0,0,0,0,1440,0
2018-06-27,2145,0,0.0,0,1440,0,0,0,0,1440,0
2018-06-28,2145,0,0.0,0,1440,0,0,0,0,1440,0
2018-06-29,2180,0,0.0,0,1437,3,0,0,39,1440,0
2018-06-30,2145,0,0.0,0,1440,0,0,0,0,1440,0
2018-07-03,2144,0,0.0,0,1440,0,0,0,0,1440,0
2018-07-04,2183,0,0.0,0,1438,2,0,0,42,1440,0
2018-07-05,2153,0,0.0,0,1439,1,0,0,10,1440,0
2018-07-06,2144,0,0.0,0,1440,0,0,0,0,1440,0

In [20]:
df.groupby(df.index.weekday).