In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [60]:
df = pd.read_csv('activities.csv')

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,4/26/18,"2,635","2,931",1.38,2,"1,347",93,0,0,566
1,4/27/18,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752"
2,4/28/18,"3,379","3,521",1.66,2,702,155,22,11,"1,124"
3,4/29/18,"2,851","1,639",0.77,0,891,122,0,0,602
4,4/30/18,"2,825","1,323",0.62,0,880,104,0,0,540

In [62]:
df.describe()

,Distance,Floors,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active
count,225.000000,225.000000,225.000000,225.000000,225.000000
mean,4.046800,12.591111,188.235556,14.920000,33.871111
std,2.506253,25.844174,75.170001,15.363535,37.195986
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.220000,2.000000,158.000000,3.000000,2.000000
50%,3.680000,7.000000,203.000000,11.000000,15.000000
75%,5.900000,13.000000,236.000000,21.000000,63.000000
max,12.000000,195.000000,349.000000,78.000000,154.000000

In [65]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Calories Burned,225.0,3401.911111,632.426578,799.0,3069.00,3385.00,3765.0,5199.0
Steps,225.0,8536.186667,5255.746608,0.0,4714.00,7806.00,12380.0,25512.0
Distance,225.0,4.046800,2.506253,0.0,2.22,3.68,5.9,12.0
Floors,225.0,12.591111,25.844174,0.0,2.00,7.00,13.0,195.0
Minutes Sedentary,225.0,809.520000,243.232639,28.0,654.00,750.00,877.0,1440.0
Minutes Lightly Active,225.0,188.235556,75.170001,0.0,158.00,203.00,236.0,349.0
Minutes Fairly Active,225.0,14.920000,15.363535,0.0,3.00,11.00,21.0,78.0
Minutes Very Active,225.0,33.871111,37.195986,0.0,2.00,15.00,63.0,154.0
Activity Calories,225.0,1484.546667,747.795790,0.0,1062.00,1481.00,1962.0,3596.0

17