In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import wrangle_fitbit

In [4]:
df = wrangle_fitbit.get_activities_data()

,date,cals_burned,steps,dist,flrs,mins_sed,mins_light,mins_mod,mins_heavy,activity_cals,mins_tot,mins_off
0,2018-04-26,2635,2931,1.38,2,1347,93,0,0,566,1440,0
1,2018-04-27,3649,9971,4.70,19,1158,219,46,17,1752,1440,0
2,2018-04-28,3379,3521,1.66,2,702,155,22,11,1124,890,550
3,2018-04-29,2851,1639,0.77,0,891,122,0,0,602,1013,427
4,2018-04-30,2825,1323,0.62,0,880,104,0,0,540,984,456

In [ ]:
df.describe()

In [ ]:
df.describe().T